/**
*********************
* Main content area
********************
**/

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding: 0 1.25rem;

  @include breakpoint("sm") {
    padding: 0 0.9375rem;
  }

  @include breakpoint("xxl") {
    max-width: rem(1190) !important;
  }

  .container {
    padding: 0;
  }
}

div[aria-label="Error message"] {
  background: $color--background-error;
  color: $color--error;
  padding: 0.75rem;
}

div[aria-label="Status message"] {
  background: $color--background-success;
  color: $color--success;
  padding: 0.75rem;
}

.field--name-field-title {
  font-family: $font-family--secondary;
  color: $color--secondary;
  font-weight: 600;
}

.field--name-field-link {
  a {
    text-transform: uppercase;
  }
}

.main-content {
  .block {
    .field--name-body {
      @include breakpoint("lg") {
        max-width: 80%;
        margin: 0 auto;
      }

      @include breakpoint("xl") {
        max-width: rem(905);
      }

      p {
        margin-bottom: 1rem;

        @include breakpoint("xxl") {
          font-size: 1.125rem;
          line-height: 30px;
        }
      }
    }

    &.block--inline-blockgeneral-block {
      .field--name-body {
        p {
          @include breakpoint("xxl") {
            margin-bottom: rem(23);
          }
        }
      }
    }
  }
}

.view-all,
.more-link {
  text-align: center;
  margin-top: 1.25rem;

  @include breakpoint("xl") {
    margin-top: rem(36);
  }

  a {
    @include ieee-btn;
    @include ieee-btn-default;
  }
}

.color--date {
  color: $color--date;
}

.component-bg-gray {
  background-color: $color--background-lightgray;
}

.blue {
  background-color: $color--background-secondary;
  color: $color--white;

  * {
    color: $color--white;
  }

  .more-link {
    a {
      color: $color--white;
      border-color: $color--white;

      &:hover {
        border-color: $color--primary;
      }
    }
  }
}
